
body {
    position: relative;
}

#bd {
position: relative;
height:auto;
overflow-y: hidden;

}

/*.navbar-bright {
background-color:#111155;
color:#fff;
}*/

.affix-top, .affix{
position: static;
}
.affix-bottom {
position: absolute;
}

@media (min-width: 979px) {
#sidebar.affix-top {
  position: static;
  margin-top:30px;
  width:228px;
}

#sidebar.affix {
  position: fixed;
  top:70px;
  width:228px;
}
}
.col-md-9{
padding-top: 2%;
width:auto;
margin:2%;
}
a{
color:#444;
font-family: Century Gothic;
font-size:13px;
}
a:hover {
  color:#f6921e !important;
  background-color: transparent !important;
}
a:active{
    color:#f6921e !important;
  background-color: transparent !important;
}
.lst{
background-color: transparent !important;
width:auto;
float:left;
}

.lst.active a{
  color:#f6921e !important;
  background-color: transparent !important;
}

.lst.active div{
  background-color: #f6921e !important;

}

#circ:hover{
  background-color: #f6921e !important;
}

#circ{

  float:left;
  margin:6% 4.5% 4.5% 4.5%;
  border: 1px solid grey;
  padding-top: 3%;
  background: transparent;
  width: 13px;
  height:13px;
  border-radius: 50px;


}
#lihead{
color:#444;
font-weight: 500;
background: #ddecf2 !important;
line-height: 150%;
padding:3%;
width:80%;
margin-bottom: 5%
}

#sub{
margin-left: 15%
}

h2{
color:#014E72;
font-weight:normal;
}
#cont{
line-height: 150%;
font-size: 14px;
font-family: Century Gothic;
color:#666;
font-weight: lighter

}
#sel_cont{
line-height: 170%;
font-size: 13px;
font-family: Century Gothic;
color:#666;
font-weight: lighter

}
.cate-title{
border-top:3px solid #0098db;
width:40px;

}
.big-title{
border-top:3px solid #0098db;
margin-top: 5%;
padding-top:17%;
width:700px;

}
#cate-wrap{
margin: 5%;
padding-bottom: 5%
}

.fRight{
float:right;
right:2%;
margin-top: 5%;
height:354px !important;
}

.fLeft{
float:left;
width:250px;

}
.row{
width:1100px;
}

#leftCol{
padding:2%;
margin:0;
}

h3{
font-weight:550;
font-size:16px;
font-family: Century Gothic;
color: #444;
}
.fLeft_img{
float:left;
margin-top: 8%;
}

.fLeft_cont{
float:left;
margin-left:12px;
width:250px;
}

#select_icons{
width:100%;
height:auto;
margin:2% 0 15% 0;
}

#wrap_left{
margin:1%;
float:left;
padding:2%;
}

img{
margin-top: 2%;
margin-bottom:5%;
}

#cover{
width:100%;
height:400px;
background-image: url(https://unbounce-wpengine.netdna-ssl.com/photos/pattern_bg.jpg);
background-repeat: repeat;


}

.cover_content{
padding: 5%;
margin-left: 22%
}

.cover_text{
color:white;
font-size:44px;
font-family: Century Gothic;
font-weight:500;
}

.cover_p{
color:white;
font-size:20px;
font-weight:100;
font-family: Century Gothic;
line-height: 150%;

}
