.slider{
  width:100%;
  height:540px;
}





a {
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease;
	}



/* Container */
.container-fluid {
    background: #cceeff;
    margin:0px;
    width:100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.inner-color{
  background-color:#aaffee;
  height:400px;
  width:100%;
  margin: 0px;

}

/* Thumbnail Box */
.caption {
    height: 140px;
    width: 100%;
    margin: 20px 0px;
    padding: 20px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.caption .span4, .caption .span8 {
    padding: 0px 20px;
}
.caption .span4 {
    border-right: 1px dotted #CCCCCC;
}
.caption h3 {
    color: #f6921e;
    line-height: 2rem;
    margin: 0 0 20px;
    text-transform: uppercase;
    }
    .caption p {
        font-size: 1rem;
        line-height: 1.6rem;
        color: #f6921e;
        }
        .btn-mini-slider {
            border:2px solid #f6921e;
            padding:2px;
            border-radius: 0 0 0 0;
            color: #f6921e;
            font-size: 1rem;
            text-shadow: none !important;
            }
            .btn-mini-slider:hover{
              background: #f6921e;
              color:#fff;
              border-color: #f6921e;
              text-decoration: none;
            }
.carousel-control {
    top: 33%;
}
